*, *::after, *::before{
    box-sizing: border-box;
}
body{
 background-color:#333;
 color:white;
 height: 100vh;
 margin:0;
 display:flex;
 justify-content:center;
 align-items: center;
 font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
    background-color:#006699;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    padding:3rem;
    border: 2px solid black;
    border-radius: 10px;
    width:80%;
}
.title{
    font-size: 1.5em;
    text-align:center;
    margin:0;
    padding:0;
}
.password{
    width:80%;
    text-align:center;
    background-color: white;
    color:black;
    padding:1em 2em;
    border-radius:10px;
    word-break: break-all; 
}
.input-form{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5rem;
    row-gap: .5rem;
    align-items:center;
}










input[type=range] {         
    background: whitesmoke; /* Otherwise white in Chrome */
  }
  
  input[type=range]::-ms-track {
    /* Hides the slider so custom styles can be added */
    background: whitesmoke; 
    border-color: whitesmoke;
    color: whitesmoke;
  }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
  }
  
  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  
  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }






.generatePassword{
    grid-column: 1 / 3;
    margin-top:2rem;
    background-color: white;
    color:black;
    font-size: 1.2rem;
    padding:.5rem 1rem;
    border:none;
    outline:none;
    cursor: pointer;
    border-radius:5px;
    transition: background-color,color 350ms ease-in-out;
}
.generatePassword:hover{
 background-color: #083146;
 color:wheat;
}

  




